<div class="<% if index.zero? %>is-active<% end %> orbit-slide">
  <div class="row ">
    <div class="column orbit-figure">
      <div class="row small-up-1 smallmedium-up-2">
        <div class="column text-center">
          <video aria-label="<%= accessibility_label %>" width="512" height="270" controls autoplay muted loop>
            <source src="<%= video_url %>" type="<%= video_content_type %>">
            Your browser does not support the video tag.
          </video>
        </div>
        <div class="column">
          <h2 class="heading4"><%= title %></h2>
          <p><%= content %></p>

          <% if valid_link? %>
            <%= link_to cta, url, class: "button action", target: "blank" %>
          <% end %>

          <% if secondary_link? %>
            <%= link_to secondary_cta, secondary_url, class: "action", target: "blank" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
