<select class="master-language-chooser">
  <% locales.each do |l| %>
    <option value="<%= l %>" <% if I18n.locale == l %>selected=""<% end %>><%= I18n.with_locale(l) { I18n.t("name", scope: "locale") } %></option>
  <% end %>
</select>

<% form.fields_for :settings, form.object.settings do |settings_fields| %>
  <%= settings_fields.translated :text_field, :title, label: t("decidim.slider.tabs.video_text.settings.title") %>
  <%= settings_fields.translated :text_field, :content, label: t("decidim.slider.tabs.video_text.settings.content") %>
  <%= settings_fields.translated :text_field, :cta, label: t("decidim.slider.tabs.video_text.settings.cta") %>
  <%= settings_fields.translated :text_field, :url, label: t("decidim.slider.tabs.video_text.settings.url") %>
  <%= settings_fields.translated :text_field, :accessibility_label, label: t("decidim.slider.tabs.video_text.settings.accessibility_label") %>

  <%= settings_fields.translated :text_field, :secondary_cta, label: t("decidim.slider.tabs.video_text.settings.secondary_cta") %>
  <%= settings_fields.translated :text_field, :secondary_url, label: t("decidim.slider.tabs.video_text.settings.secondary_url") %>

  <fieldset>
    <legend><%= t("decidim.slider.tabs.video_text.settings.video_options") %></legend>

    <%= settings_fields.check_box :loop, label: t("decidim.slider.tabs.video_text.settings.loop") %>
    <%= settings_fields.check_box :autoplay, label: t("decidim.slider.tabs.video_text.settings.autoplay") %>
    <%= settings_fields.check_box :muted, label: t("decidim.slider.tabs.video_text.settings.muted") %>
    <%= settings_fields.check_box :controls, label: t("decidim.slider.tabs.video_text.settings.controls") %>
    <%= settings_fields.check_box :playsinline, label: t("decidim.slider.tabs.video_text.settings.playsinline") %>
    <%= settings_fields.check_box :skip_when_finished, label: t("decidim.slider.tabs.video_text.settings.skip_when_finished") %>
  </fieldset>

  <% form.fields_for :images, form.object.images do |images_fields| %>
    <%= images_fields.upload :video, label: t("decidim.slider.tabs.video_text.settings.video") %>
  <% end %>

<% end %>

<%= javascript_pack_tag "decidim_slider_admin" %>